<div class="ui center aligned grid container">
  <div class="column">
    <p style="padding-top: 5em;"></p>
    
    <h1>404 - Página não encontrada!</h1>
    <%= link_to 'Retornar', root_path, class: 'ui teal button' %>
  </div>
</div>
